*{
    padding: 0rem;
    margin: 0rem;
}
/**nav bar**/
.nav-bar{
    display: flex;
    height: 4rem;
    background-color: black;
    color: aliceblue;
    align-items: center;


}
.nav-photo{
    background-image: url(/photo/360_F_373168623_jTLasKYUB5Li0g5dI6uemZywfICeiZTI.jpg);
    height: 3.5rem;
    width: 3.9rem;
    background-size: cover;
}
.nav-buttons{
    padding-left: 70%;
}

/**main**/
.hero{
    display: flex;
    border: 2px solid black;
}
.main-heading{
    height: 17rem;
    align-content: center;
    margin-left: 40%;
    font-size: x-large;

}
.hero-projects{
    border: 2px solid black;
    width: 33%;

}
.hero-work{
    border: 2px solid black;
    width: 33%;
}
.hero-education{
    border: 2px solid black;
    width: 33%;
}
ul{
    border: 1px solid black;
}


/**footer**/
.footer-review{
    display: flex;
    height: 200px;
    
    
    justify-content: space-evenly;
    


}

.box{
    
    border: 2px solid black;
    border-radius: 20%;
    margin: 20px;
    text-align: center;
    align-content: center;
    
    align-content: space-evenly;
    
    

}