*{
    padding: 0rem;
    margin: 0rem;
}
/**nav bar**/
.nav-bar{
    display: flex;
    height: 4rem;
    background-color: black;
    color: aliceblue;
    align-items: center;


}
.nav-photo{
    background-image: url(/photo/360_F_373168623_jTLasKYUB5Li0g5dI6uemZywfICeiZTI.jpg);
    height: 3.5rem;
    width: 3.9rem;
    background-size: cover;
}
.nav-buttons{
    padding-left: 70%;
}

/**main**/
.hero{
    display: flex;
    border: 2px solid black;
}
.main-heading{
    height: 17rem;
    align-content: center;
    margin-left: 40%;
    font-size: x-large;

}
.main-text{
    width: 100%;
    text-align: center;
}
.hero-projects{
    border: 2px solid black;
    width: 33%;

}
.hero-work{
    border: 2px solid black;
    width: 33%;
}
.hero-education{
    border: 2px solid black;
    width: 33%;
}
ul{
    border: 1px solid black;
}


/**footer**/

footer-heading h4{
    margin-left : 20px;
}
.footer-review{
    display: flex;
    height: 250px;
    align-items: center;
    
    justify-content: space-evenly;
    


}

.box{
    width: 250px;
    height: 180px;
    border: 2px solid black;
    border-radius: 20%;
    margin: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    
    align-content: space-evenly;
    
    

}
.copyright{
    height: 500px;
    width: 500px;
    align-content:flex-start;
    justify-items: center;
    margin-left: 45%;
    margin-top: 10%;
}




/* Mobile layout */
@media (max-width: 768px) {

    /* NAV BAR */
    .nav-bar {
        flex-direction: column;
        height: auto;
        padding: 1rem;
        gap: 10px;
    }

    .nav-buttons {
        padding-left: 0;
        display: flex;
        gap: 10px;
    }

    /* HERO SECTION */
    .hero {
        flex-direction: column;
    }

    .hero-projects,
    .hero-work,
    .hero-education {
        width: 100%;
    }

    /* FOOTER REVIEWS */
    .footer-review {
        flex-direction: column;
        height: auto;
    }

    .box {
        width: 90%;
        height: 50px;
        padding: 20px;
    }

    /* COPYRIGHT CENTERING */
    .copyright {
        margin-left: 0;
        text-align: center;
        width: 100%;
    }
}

